body {
	background-image: url(../pics/mario.jpg);
}

.labels {
	font-variant: small-caps;
	color: white;
	font-size: 20px;
	float: left;
}

.infobox {
	border: 10px solid transparent;
	background-color: #212529;
	padding: 10px;
	border-image: linear-gradient(rgb(248 249 243), rgb(140 139 135)) 1;
	outline: 1px solid black;
	margin-top: 30px;
	margin-left: 10px;
	float: left;
}

.container {
	display: grid;
	justify-content: center;
}

#spielbereich {
	border: 10px solid transparent;
	background-color: #212529;
	padding: 10px;
	border-image: linear-gradient(rgb(248 249 243), rgb(140 139 135)) 1;
	outline: 1px solid black;
	margin-top: 30px;
	margin-left: 10px;
	float: left;
	height: 268px;
	width: 260px;
}


.karte {
	height: 66px;
	width: 66px;
	background-image: url(../pics/memoryBg.png);
	float: left;
	margin: 2px;
}

#spielbereich {
	overflow: hidden;
}